html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#id_commande,#email,#adress,#items,#prix,#state{
	outline:none;
	border:none;
	background-color:transparent;
	width:35px;
	text-align:center;
}

#CommandeInfo{	
	justify-content:center;
	
}
.card-body li{
	list-style: none;
}
#CommandeInfo #id_commande,#email,#adress,#items,#prix,#state{
	width:100%;
	
}